//********************  FONTS  ***********************//

@basefont: '';

//********************  COLORS  ***********************//

@grey-dark   : #a9a9aa;
@grey-medium : #F3F3F3;
@grey-light  : #f9f9f9;
@white       : #ffffff;

@red         : red;
@red-light   : #efc9c9;

@green-light : #c9efcf;

@blue        : blue;


//********************  SIZES  ***********************//

@sm-margin: 0.3em;
@margin: 1em;
